.git
.gitignore
**/node_modules
**/vendor
**/.env
**/.env.*
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*
jitsi
